[ req ]
default_bits       = 2048
distinguished_name = dn
x509_extensions    = v3
prompt             = no

[ dn ]
CN = ctrl
O  = Kathara Lab
OU = Controller

[ v3 ]
subjectAltName = @alt_names
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[ alt_names ]
DNS.1 = ctrl
DNS.2 = localhost
IP.1 = 127.0.0.1
